<!DOCTYPE html>
<html>
  <head>
    <title>Merchants</title>
    <link rel='stylesheet' href="main.css" title='text/css'>
  </head>
  <body>
    <header>
      <h3 class="logo">LittleShop</h3>
      <nav class="navigation">
        <ul class="nav-links">
          <li class="nav-link"><a href="/merchants">Merchants</a></li>
          <li class="nav-link"><a href="/items">Items</a></li>
          <li class="nav-link"><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>
    <div class="sub-header">
      <a class="dashboard-link">Dashboard</a>
      <h3>Merchants</h3>
      <a href='/merchants/new' class="create-merchant">Create A New Merchant</a>
    </div>
    <section>
      <tr>
        <ul class='merchants-list'>       <!-- will need for items and invoices-->
          <% @merchants.each do |merchant| %>
            <li class="merchant merchant-<%= merchant.id %> merchant-container">
                <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a>
                <div class="buttons">
                <a class='edit' href="/merchants/<%= merchant.id %>/edit">Edit</a>
                <form action="/merchants/<%= merchant.id %>" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                  <button id='delete-button-<%= merchant.id %>' type='submit'>Delete</button>
                </form>
              </div>
            </li>
          <% end %>
        </ul>
      </tr>
    </section>
    <footer><p>Footer Place Holder</p></footer>
  </body>
</html>
