<html>
<!DOCTYPE html>
<html>
  <head>
    <title>Item Show</title>
    <link rel='stylesheet' href="main.css" title='text/css'>
  </head>
  <body>
    <header>
      <h3 class="logo">LittleShop</h3>
      <nav class="navigation">
        <ul class="nav-links">
          <li class="nav-link"><a href="/merchants">Merchants</a></li>
          <li class="nav-link"><a href="/items">Items</a></li>
          <li class="nav-link"><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>
    <div class="sub-header">
      <a class="dashboard-link"></a>
      <h3><%= @item.title %></h3>
      <a href="/items/<%= @item.id %>/edit">Edit</a>
      <form action="/items/<%= @item.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button id='delete-button-<%= @item.id %>' type='submit'>Delete</button>
      </form>
    </div>
  <ul>
    <li><%= @item.merchant.name %></li>
    <li><%= @item.image %></li>
    <li><%= @item.title %></li>
    <li><%= @item.price %></li>
    <li><%= @item.description %></li>
  </ul>
</html>
